<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="camera_joint" type="fixed">
        <parent link="chassis"/>
        <child link="camera_link"/>
        <origin xyz="0.305 0 0.08" rpy="0 0 0"/>
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.010 0.03 0.03"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <!-- 就是一個invisable joint用來給我們alternitive way去看我們的camera link(有旋轉一下之類的）) -->
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="camera_link_optical"></link>



    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
        <!-- 上面都是在建立相機的長相（前端紅紅的方方) -->
        <!-- 下面是在gazebo裡建立"相機鏡頭"模擬了 -->
        <sensor name="camera" type="depth"> <!-- type為depth_camera sensor -->
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera> <!-- camera sensor用的tag -->
                <horizontal_fov>1.5009832</horizontal_fov> <!-- [D435]深度視角（FOV) (弧度)決定畫面的zoom in or zoom out（可以看你的actual camera的參數) -->
                <image>
                    <format>B8G8R8</format> <!-- depth camera其實在rviz2上顯示會顏色錯誤是因為它其實是BGR -->
                    <width>640</width> <!-- pixel畫質... -->
                    <height>480</height>
                </image>
                <clip> <!-- minimum & maximum range你的相機可以看到的距離（m) -->
                    <near>0.1</near> 
                    <far>3.0</far>
                </clip>
            </camera>
            <!-- 設定你的plugin for camera -->
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so"> 
                <frame_name>camera_link_optical</frame_name> <!-- 當在publish image data的時候, image data會連上camera_link_optical這個虛擬link, 但gazebo在模擬是用camara_link這個link在模擬相機的（就是這樣因為gazebo image跟ros image的座標官方上部一樣的關係) -->
                <min_depth>0.1</min_depth> <!-- depth camera的plugin 要加上這兩個參數, 但其實上面clip tag就是再做這事情了, 但反正就是要加 -->
                <max_depth>3.0</max_depth> 
            </plugin>
        </sensor>
    </gazebo>

</robot>